@keyframes fadeleftslider {
	from {transform: translateX(-1000px);}
	to {transform: translateX(0px);}
}

@mixin duration {
	transition-duration:.5s;
	transition-timing-function: ease-in-out;
}
@mixin keyframes {
	animation-delay: .25s;
	animation-fill-mode: forwards;
}

@keyframes showslider {
	from {
		opacity: 0;

	}
	to {
		opacity: 1 !important;
	}
}

@keyframes opacity {
	from {
		opacity: 1;

	}
	to {
		opacity: 0;
	}
}

@keyframes flytext {
	from {
		transform: translateX(-1550px);
	}
	to {
		transform: translateX(-1050px);
	}
}
@keyframes servicefly {
	from {
		left: 5vw;
	}
	to {
		left: 35vw;
	}
}
@keyframes flytextblogbot {
	from {
		transform: translateX(-2200px);
	}
	to {
		transform: translateX(-1750px);
	}
}
@keyframes flytextblogtop {
	from {
		transform: translateX(350px);
	}
	to {
		transform: translateX(800px);
	}
}
@keyframes running {
	0%   {transform: translateY(0px);}
	25%  {transform: translateY(-25px);}
	50%  {transform: translateY(-50px);}
	75%  {transform: translateY(-25px);}
	100% {transform: translateY(0px);}
}

