
.pagination {
	position:absolute;
	left:20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	z-index: 10;
	display: flex;
	flex-direction: column;
}
.pagination a {
	display:block;
	margin-bottom:5px;
	color:white;
	position:relative;
	padding:4px;
	span {
		opacity: 1;
		color: rgba(0,0,0,.1);
		transition-duration: .5s;
	}
	&.active {
		span {
			opacity: 1;
			color: #000;
			transition-duration: .5s;
		}
	}
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
	margin-left:15px;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	bottom:0;
}
ul#list-spy li a {
	text-transform: uppercase;
	color:  #2e332f;
	font-weight: 600;
}
ul#list-spy {
	a.active {
		margin-bottom: 60px;
		margin-top: 60px;
		&:after {
			content: " ";
		}
	}
}
.pagination li {
	// margin:40px 0px;
	a {
		span {
			padding-left: 15px;
			&:after {
				content: " ";
				height: 40px;
				background: #fff;
				display: block;
				position: absolute;
				width: 2px;
				margin-left: 2.5px;
				margin-top: 10px;
			}
			&:before {
				content: " ";
				height: 40px;
				background: #fff;
				display: block;
				position: absolute;
				width: 2px;
				margin-left: 2.5px;
				margin-top: -50px;
			}
		}
	}
}
.pagination li:first-child {
	// margin:40px 0px;
	a {
		span {
			padding-left: 15px;
			&:after {
				content: " ";
				height: 40px;
				background: #fff;
				display: block;
				position: absolute;
				width: 2px;
				margin-left: 2.5px;
				margin-top: 10px;
			}
			&:before {
				content: " ";
				height: 0px;
				background: #fff;
				display: block;
				position: absolute;
				width: 0px;
				margin-left: 2.5px;
				margin-top: 0px;
			}
		}
	}
}

.pagination li:last-child {
	// margin:40px 0px;
	a {
		span {
			padding-left: 15px;
			&:after {
				content: " ";
				height: 0px;
				background: transparent;
				display: block;
				position: absolute;
				width: 0px;
				margin-left: 2.5px;
				margin-top: 10px;
			}
			&:before {
				content: " ";
				height: 40px;
				background: #fff;
				display: block;
				position: absolute;
				width: 2px;
				margin-left: 2.5px;
				margin-top: -50px;
			}
		}
	}
}