@font-face {
	font-family: 'Play';
	font-display: auto;
	src: local('Play'), url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin-ext) format('woff2');
}
@font-face {
	font-family: 'Play';
	font-display: auto;
	src: local('Play'), url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin-ext) format('woff2');
}
$ffont: 'Play', sans-serif;
$sfont: 'Open Sans Condensed', sans-serif;
$light-grey: #b3b3b3;
$dark-grey: #2e332f;
$grey: #2e332f;
$yellow: #fecd01;  