@font-face {
  font-family: 'Play';
  font-display: auto;
  src: local("Play"), url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin-ext) format("woff2"); }
@font-face {
  font-family: 'Play';
  font-display: auto;
  src: local("Play"), url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin-ext) format("woff2"); }

/*# sourceMappingURL=_variables.css.map */
