section {
	min-height: 100vh;
}
header {
	z-index: 700;
}
main {
	background-size: cover;
}
@keyframes fadeleftslider {
	from {transform: translateX(-1000px);}
	to {transform: translateX(-650px);}
}
nav.active {
	width: 100%;
	ul {
		text-align: center;
	}
}
main#homepage .social-bar {
	bottom: 0px;
}
.pagination {
	bottom:0%;
	top: 25%;
	transform: translateY(0%);
}
section#about .icon {
	color: rgba(255, 255, 255, 0.1);
	font-size: 630px;
}

ul.pagination li:last-child {
	a {
		margin-bottom: 20px;
	}
}
section#about {
	.item {
		width: 90%;
		margin: auto;
		p {
			width: 100%;
		}
		h3 {
			text-align: center;
		}
	}
}
section#about div#carouselExampleControls .carousel-item img {
	max-width: 60%;
}
aside {
	display: none;
}
section#about .inner-content:before {
	display: none;
}

main#homepage {
	section#home {
		.scroller {
			display: none !important;
		}
		.background {
			display: none;
		}
		.content-tag {
			.inner-content {
				left: 0%;
				text-align: center;
				h1 {
					font-size: 56px;
				}
				h2 {
					font-size: 15px;
					margin-top:5px;
					&:after {
						content: " ";
						width: 80%;
						height: 3px;
						display: block;
						background-color: #ff4200;
						margin: auto;
						margin-top: 25px;
						margin-bottom: 15px;
					}
				}
			}
			.scroller {
				left: calc(50% - 20px);
			}
		}
	}
	section#about {
		.inner-content {
			width: 90%;
			height: 50%;
			align-items: start;
			.item:nth-child(1) {
				h3 {
					font-size: 42px;
					letter-spacing: normal;
					text-align: center;
				}
				p {
					width: 100%;
					margin-left: 0px;
					padding: 10px;
					text-align: center;
					margin-top: 10px;
					&:before {
						margin: 0px;
						height: 0px;
					}
				}
			}
			.item.image {
				width: 100%;
				img:nth-child(1) {
					top: 10%;
					left: 0%;
				}
				img:nth-child(2) {
					top: 50%;
					left: 0%;
				}
			}

		}
	}
	section#contact .contact-content {
		width: 85%;
	}
}

#service {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}
section#service .inner-content .row {
	margin-top: 50px;
}
section#service .inner-content .tab-content {
	margin-top: 60px;
	margin-bottom: 70px;
}
section#service .inner-content .row ul.nav {
	margin-left: 15px;
}
section#service h3.title.offset-xl-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
h3.title {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 50px;
}
.contact-content.wow.fadeInLeft {
	width: 100% !important;
}
.row.form-contact.wow.fadeInRight {
	margin-left: 40px;
}
section#contact .form-home label.submit-label {
	max-width: 100%;
}
.credits {
	display: none;
}
a.dropdown-item {
	text-align: center;
}
h3.title {
	font-size: 31px
}
#cta {
	.buttons {
		flex-direction: column;
		a {
			width: 100%;
			margin-bottom: 20px;
			display: flex;
		}
		button {
			width: 100%;
		}
	}
}
section#portfolio .button-position a {
	font-size: 16px;
}
section#portfolio .inner-content .row ul.nav li {
	text-align: center;
}
.arrow-navi {
	display: none;
}
h3.title.mt-5.text-white {
	margin-top: 0px !important;
}
section#portfolio .inner-content .tab-content p {
	margin-left: 0px;
	display: flex;
	justify-content: center;
}
section#home .logo-hero img {
	max-width: 90vw;
	height: auto;
}
main#homepage section#home content .inner-content h2 {
	font-size: 22px;
	width: 70%;
	&:after {
		display: none;
	}
	b {
		margin-bottom: 10px;
	}
} 

section#contact .form-home {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
main#homepage section#home .content-tag .inner-content h1 {
	font-size: 19px;
	width: 80%;
}
main#oferta #dla_kogo .tresc {
	max-width: inherit;
	padding-right: 0px;
}
main#oferta .wypunktowania .inner-content {
	position: relative;
	padding: 10px;
	padding-top: 20px;
}
.looks .item-portfolio img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
section#about .informacje {
	text-align: center;
	width: 70%;
	margin: auto;
}
section#portfolio .inner-content .row ul.nav {
	justify-content: space-evenly;
}
body.home section h3.title:after {
	margin-right: auto;
	margin-left: auto;
}
section#service h3.title:after {
	margin-right: auto;
	margin-left: auto;
}
main#oferta .title-content {
	margin-bottom: 0px !important;
}