@import "normalize";
@import "modules/scroll";
@import "modules/keyframes";
@import "gallery";

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700&display=swap');

$ffont: 'Orbitron', sans-serif;
$light-grey: #b3b3b3;
$dark-grey: #2e332f;
$grey: #2e332f;
$yellow: #fecd01;   

#particles-js canvas {
	position: fixed;
	top:0px;
	left:0px; 
}
.blur {
	-webkit-filter: blur(10px);
	filter: blur(10px);
	-webkit-transform: scale(1.03, 1.03);
	transform: scale(1.03, 1.03); 
} 
h1, h2, h3, h4, h5, button, * {
	font-family: $ffont, 
}
* {
	outline:none;
}
a[href='']{
	display:none;
} 
a:hover {
	text-decoration: none;
}
h3.subtitle { 
	color: $yellow;
	font-size: 30px;
	color: #fecd01;
	margin-bottom: 10px; 
	margin-top: 10px;
	width: 100%;
}
main, nav {  
	transition-duration:.5s;
	transition-timing-function: ease-in-out;
}
nav#mainmenu ul li a { 
	color: #343935;
	font-family: $ffont;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 27px;
}
img {
	transition-duration: .5s;
}
html {
	max-width: 100vw;
	overflow-x: hidden;
}
body {
	max-width: 100vw;
	overflow-x: hidden;
}
main {
	/*background-image: url(/wp-content/uploads/2019/01/tlo-1.jpg);*/
	background-size: 100%;
	background-attachment: fixed;
}
canvas#linie {
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
}
.pos-button {
	display: block;
	margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, button, input[type="submit"], * {
	font-family: $ffont;
}

.flex-right {
	display: flex;
	justify-content: flex-end;
}
.svg-clipped {
	-webkit-clip-path: url(#svgTextPath);
	clip-path: url(#svgTextPath);
}
section {
	min-height: 100vh;
	position: relative;
}
aside {
	z-index: 10;
	left: 0px;
	top: 0px;
	height: 100%;
	display: flex;
	align-items: center;
}
aside.dark {
	ul#list-spy li a {
		color:#333 !important;
	}
	span:before, span:after {
		background-color: #333 !important;
	}
}
nav {
	position: fixed;
	background: rgba(255,255,255,.7);
	display: flex;
	width: 100%; 
	height: 100%;
	z-index: 100;
	justify-content: center;
	align-items: center;
	z-index: -1;
	opacity: 0;
	overflow: hidden;
	ul#list-spy a.active {
		margin: 0px;
	}
	#bs4navbar {
		height: 100vh; 
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
nav.active {
	z-index: 100;
	opacity: 1;
}
h3.title {
	text-transform: uppercase;
	font-size: 42px;
	font-weight: 900;
	color: $grey;
	width: 100%;
}
h3.title:after {
	content: " ";
	height: 3px;
	width: 40%;
	background: $yellow;
	display: block;
	margin: auto;
	margin-top:20px;
}
header {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 100;
	padding: 30px 0px;
	#menu-button {
		width: 60px;
		height: 45px;
		position: fixed;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		-webkit-transform: scale(.5);
		transform: scale(.5);
		right: 15px;
	}
	.navbar-brand {
		height: 100%;
		display: flex;
		align-items: center;
	}
	#menu-button span {
		display: block;
		position: absolute;
		height: 4px;
		width: 50%;
		background: $grey;
		opacity: 1;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}

	#menu-button span:nth-child(even) {
		left: 50%;
		border-radius: 0 9px 9px 0;
	}

	#menu-button span:nth-child(odd) {
		left:0px;
		border-radius: 9px 0 0 9px;
	}

	#menu-button span:nth-child(1), #menu-button span:nth-child(2) {
		top: 0px;
	}

	#menu-button span:nth-child(3), #menu-button span:nth-child(4) {
		top: 18px;
	}

	#menu-button span:nth-child(5), #menu-button span:nth-child(6) {
		top: 36px;
	}

	#menu-button.open span:nth-child(1),#menu-button.open span:nth-child(6) {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#menu-button.open span:nth-child(2),#menu-button.open span:nth-child(5) {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	#menu-button.open span:nth-child(1) {
		left: 5px;
		top: 7px;
	}
	
	#menu-button.open span:nth-child(2) {
		left: calc(50% - 5px);
		top: 7px;
	}

	#menu-button.open span:nth-child(3) {
		left: -50%;
		opacity: 0;
	}

	#menu-button.open span:nth-child(4) {
		left: 100%;
		opacity: 0;
	}

	#menu-button.open span:nth-child(5) {
		left: 5px;
		top: 29px;
	}

	#menu-button.open span:nth-child(6) {
		left: calc(50% - 5px);
		top: 29px;
	}
	.navbar {
		box-shadow: none;
	}
	#list-spy li > a.active {
		color:red;
	}
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	background-attachment: fixed;

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.content-tag {
		width: 100%;
		height: 100%;
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
section#home {
	background-size: cover;
	.logo-hero img {
		max-width: 35vw;
		height: auto;
	}		
	.inner-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			font-size: 22px;
			color:$grey;
			font-weight: 400;
			width: 50%;
			text-align: center;
			margin-top: 30px;
			b {
				text-transform: uppercase;
				font-size: 30px;
				display: block;
			}
		}
	}
	.content-tag {
		a.readmore  { 
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
			svg {
				color: $yellow;
				display: inline-block;
				margin-left: -5px;
				transition-duration:.5s;
				transition-timing-function: ease-in-out;
			}
			&:hover svg {
				margin-left: 10px;
			}
		}
		.scroller {
			position: absolute;
			bottom: 0;
			left: 30%;
			display: flex;
			span {
				-webkit-writing-mode: vertical-rl;
				-ms-writing-mode: tb-rl;
				writing-mode: vertical-rl;
				text-orientation: mixed;
				color: rgba(255,255,255,.3);
				font-size: 10px;
				font-weight: 500;
				margin-top: 50px;
				letter-spacing: 1px;
				text-transform: uppercase;
				@include duration;
			}
			.mouse-img {
				&:after {
					content: " ";
					background: rgba(255,255,255,.3);
					display: block;
					width: 3px;
					height: 100px;
					margin: auto;
					margin-top: 20px;
					@include duration;
				}
			}
			&:hover {
				span {
					color: #fff;
				}
				.mouse-img:after {
					background-color: #fff;
				}
			}

		}
	}
}
.social-bar {
	position: absolute;
	right: 0px;
	ul {
		list-style-type: none;
		margin-right: 30px;
		li {
			margin: 15px 0px;
			font-size: 1.2em;
			text-align: center;
			a {
				color: $light-grey;
				&:hover {
					color:#fff;
				}
			}
		}
	}
}
section#about {
	.icon {
		color: rgba(255,255,255,.2);
		font-weight: 900;
		font-size: 45em;
		position: absolute;
		left: -5%;
	}
	.informacje {
		text-align: left;
		width: 70%;
		.trescomnie {
			min-height: 160px;
			display: block;
			a {
				color: $yellow; 
			}
		}
	}
	.content-tag {
		justify-content: start;
		height: 100%;
	}
	.col-xl-5, .row {
		height: 100%;
	}
	div#carouselExampleControls {
		height: 100%;
		display: flex;
		align-items: flex-end;
		.carousel-item img {
			max-width: 80%;
			position: relative;
			z-index: 1000;
			margin: auto;
			display: block;
			height: auto;
		}
		.carousel-navi {
			position: absolute;
			width: 100%;
			height: 50%;
			a {
				height: 100px;
				margin-top: auto;
				margin-bottom: 40px;
			}
			img {
				max-height: 100px;
			}
		}
	}
	.item {
		width: 70%;
		margin-left: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		h2 {
			text-transform: uppercase;
			text-align: left;
			font-weight: 600;
			font-size: 52px;
			color: $yellow;
			letter-spacing: 8px;
			width: 100%;
			span {
				color: $yellow;
			}
		}
		p {
			font-size: 19px;
			width: 75%;
			font-weight: 500;
			-webkit-animation-delay: .5s;
			animation-delay: .5s;
			text-align: justify;
			font-family: $ffont; 
			&:before {
				content: " ";
				display: block;
				width: 50%;
				height: 2px;
				background-color: #fff;
				margin-bottom: 20px;
			}
		}
	}
}
body.home {
	h3.title {
		&:after {
			margin-right: auto;
			margin-left: 0px;
		}
	}
}
section#service {
	background-size: cover;
	.tab-pane {
		border-bottom: solid 2px $grey;
		margin-right: -30px;
	}
	h3.title {
		margin-top: 10%;
		&:after {
			margin-right: auto;
			margin-left: 0px;
		}
	}
	.inner-content {
		width: 100%;
		p {
			width: 75%;
			text-align: justify;
		}
		.tab-content {
			min-height: 300px;
			.opis {
				min-height: 100px;
			}
			h3 {
				color: $yellow;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 21px;
			}
			p {
				color:$grey;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 0px;
				font-family: $ffont;
			}
			a {
				color: $yellow;
				font-weight: 600;
				padding-bottom: 10px;
				display: block;
				font-family: $ffont;
				&:hover {
					font-weight: 700;
				}
			}
		}
		.row {
			margin-top:30px;
			ul.nav {
				display: flex;
				flex-direction: column;
				li {
					margin-bottom: 7px;
					a {
						text-transform: uppercase;
						color:$grey;
						font-size: 17px;
						letter-spacing: 3px;
						font-weight: 700;
						font-family: $ffont;
						&.active {
							color: $yellow;
						}
					}
				}
			}
		}
	}
	.fly-letter {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		span {
			font-size: 350px;
			text-transform: uppercase;
			font-weight: 900;
			position: absolute;
			z-index: -1;
			color: rgba(230, 230, 230, 0.2);
			-webkit-animation-delay: .25s;
			animation-delay: .25s;
			-webkit-animation: flytextblogtop 6s infinite;
			animation: flytextblogtop 6s infinite;
			-webkit-transform: translateX(450px);
			transform: translateX(450px);
			-webkit-animation-direction: alternate;
			animation-direction: alternate;
			right: 0px;
		}
	}
}
body.page-template-realizacje section#portfolio {
	align-items: flex-start;
	padding-top: 10%;
	text-align: center;
}
section#portfolio {
	background-size: cover;
	.content-tag {
		justify-content: start;
		padding-top: 50px;
	}
	.contain.row {
		width: 100%;
	}  
	.button-position {
		width: 100%;
		display: flex;  
		justify-content: center;
		a {
			text-transform: uppercase;
			font-size: 21px;
			border: solid 1px #000;
			padding: 5px 15px;
			color: #000;
			font-weight: 700;
			transition-duration: .5s;
			&:hover {
				background-color: $yellow;
				border-color: $yellow;
			}
		}
	}
	.box {
		width: 100%;
		height: 200px;
		background-size: cover;
		background-position: center;
		box-shadow: 0px 5px 25px rgba(0,0,0,.5);
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover; 
		}
		.box-info {
			width: 102%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: -100%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
			transition-duration: .5s;
			p {
				margin: 0px;
				font-weight: 600;
				color: #fff !important;
				padding-left: 10px;
				padding-bottom: 10px;
				text-transform: uppercase;
			}
		}
	}
	.box:hover {
		.box-info {
			left: 0px;
		}
	}
	.inner-content {
		width: 70%;
		.tab-content {
			min-height: 410px;
			padding-left: 0px;
			margin-left: -5px;
			h3 {
				color: $grey;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 21px;
			}
			p {
				color:#999999;
				font-size: 14px;
				font-weight: 700;
			}
		}
		.row {
			ul.nav {
				display: flex;
				flex-direction: row;
				margin-top: 35px;
				justify-content: space-between;
				li {
					margin-bottom: 15px;
					text-transform: uppercase;
					color: #2e332f;
					font-size: 14px;
					letter-spacing: 3px;
					font-weight: 700;
					cursor: pointer;
					border: solid 1px #2e332f;
					padding: 5px;					
					&:nth-child(5) {
						order: 8;
					}
					&:nth-child(6) {
						order: 9;
					}
					&:nth-child(2) {
						order: 10;
					}
					&.active {
						background: $yellow;
						color: #2e332f;
						border-color: $yellow;
					}
				}
			}
		}
	}
	.fly-letter {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		top: 10%;
		span {
			line-height: initial;
			font-size: 350px;
			text-transform: uppercase;
			font-weight: 900;
			position: absolute;
			z-index: -1;
			color: rgba(230, 230, 230, 0.2);
			-webkit-animation-delay: .25s;
			animation-delay: .25s;
			-webkit-animation: flytextblogtop 6s infinite;
			animation: flytextblogtop 6s infinite;
			-webkit-transform: translateX(450px);
			transform: translateX(450px);
			-webkit-animation-direction: alternate;
			animation-direction: alternate;
			right: 0px;
		}
	}  
	figure {
		img {
				-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
				filter: grayscale(100%);
				height: 170px;
				-o-object-fit: cover;
				object-fit: cover; 
				&:hover {
					-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
					filter: grayscale(0%);
				}
			}
		}
	}
	section#blog {
		background-color: #fff;
		h3.title {
			color:#333;
		}
		.inner-content {
			width: 70%;
			.tab-content {
				min-height: 410px;
				padding-left: 0px;
				margin-left: -5px;
				h3 {
					color: #b3b3b3;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 21px;
				}
				p {
					color:#999999;
					font-style: 14px;
				}
			}
			.row {
				ul.nav {
					display: flex;
					flex-direction: column;
					margin-top: 35px;
					li {
						margin-bottom: 30px;
						a {
							text-transform: uppercase;
							color:#737373;
							font-size: 16px;
							letter-spacing: 3px;
							font-weight: 700;
							&.active {
								color: #fff;
							}
						}
					}
				}
			}
		}
		.fly-letter {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			span {
				font-size: 350px;
				text-transform: uppercase;
				font-weight: 900;
				position: absolute;
				z-index: -1;
				color: rgba(230, 230, 230, 0.2);
				-webkit-animation-delay: .25s;
				animation-delay: .25s;
				-webkit-animation: flytextblogtop 6s infinite;
				animation: flytextblogtop 6s infinite;
				-webkit-transform: translateX(450px);
				transform: translateX(450px);
				-webkit-animation-direction: alternate;
				animation-direction: alternate;
				right: 0px;
			}
		}
		figure {
			img {
				-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
				filter: grayscale(100%);
				&:hover {
					-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
					filter: grayscale(0%);
				}
			}
		}
	}
	section#contact {
		.content-before-form {
			display: flex;
			align-items: flex-end;
			color: #b3b3b3;
			font-weight: 500;
			text-transform: uppercase;
		}
		.form-home {
			width: 75%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			label, input, textarea {
				width: 100%;
				font-weight: 500;
				&::-webkit-input-placeholder {
					color:#b3b3b3;
				}
				&:-ms-input-placeholder {
					color:#b3b3b3;
				}
				&::-ms-input-placeholder {
					color:#b3b3b3;
				}
				&::placeholder {
					color:#b3b3b3;
				}
			}
			label.submit-label {
				max-width: 30%;
				& > * {
					background-color: $yellow;
					border-color: $yellow;
					text-transform: uppercase;
					font-weight: 600;
					transition-duration: .5s;
					color:#2e332f;
					&:hover {
						background-color: darken( $yellow, 10% );
						border-color: darken( $yellow, 10% );

					}
				}
			} 
			input, textarea {
				background-color: rgba(255,255,255,.5);
				border: solid 1px $grey;
				padding: 10px;
				color: $grey;
				max-height: 200px;
				
			}
		}
		.inner-content {
			width: 100%;
		}
		.inner-content, .row, .col-xl-6 {
			height: 100%;
		}
		.contact-content {
			height: 100%;
			width: 70%;
			margin-left: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			ul {
				list-style-type: none;
				margin-top:50px;
				li {
					margin-bottom: 35px;
					color: $grey;
					display: flex;
					font-family: $ffont;
					.icon {
						font-size: 2em;
						margin-right: 25px;
						color: $grey;
					}
					.content {
						strong {
							display: block;
							text-transform: uppercase;
							
							margin-top: 15px;
						}
					}
				}
			}
			a {
				display: flex;
				color: $grey;
				font-weight: 500;
				font-family: $ffont;
			}
			p {
				font-weight: 500;
				color:$grey;
				font-family: $ffont;
			}
		}
		background-size: cover;
		.credits {
			position: absolute;
			bottom: 20px;
			text-align: center;
			width: 100%;
			color: #999999;
			font-style: italic;
			font-weight: 200;
			a {
				color: #999999;
				font-weight: 400;
			}
		}
	}
	#portfolio {
		#portfoliocontent {  
			margin: 1rem 0;
			-webkit-column-count: 3;
			column-count: 3;
			-webkit-column-gap: 1rem;
			column-gap: 1rem;
			-webkit-column-width: 33.33333333333333%;
			column-width: 33.33333333333333%;
		}
		.post {
			position: relative;
			margin-bottom: 30px;
		}
		.tile { 
			-webkit-transform: scale(0);
			transform: scale(0);
			transition: all 350ms ease;


		}
		.tile:hover { 

		}

		.scale-anm {
			-webkit-transform: scale(1);
			transform: scale(1);
		}


		.tile img {
			max-width: 100%;
			width: 100%;
			height: auto;
			margin-bottom: 1rem;

		}

		.btn {
			font-size: 1rem;
			font-weight: normal;
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			line-height: normal;
			padding: .5rem 1rem;
			margin: 0;
			height: auto;
			border: 1px solid;
			vertical-align: middle;
			-webkit-appearance: none;
			color: #555;
			background-color: rgba(0, 0, 0, 0);
		}

		.btn:hover {
			text-decoration: none;
		}

		.btn:focus {
			outline: none;
			border-color: var(--darken-2);
			box-shadow: 0 0 0 3px var(--darken-3);
		}

		::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}
	main#oferta section#service content, main#kontakt section#contact {
		padding-top: 150px;
	}
	body.single {
		section#portfolio {
			flex-direction: column;
			.short-text {
				color: $grey;
				line-height: 31px;
				height: 100%;
				font-size: 16px;
				font-weight: 700;
				text-align: justify;
				a {
					display: flex;
					justify-content: flex-start;
					margin-top: 15px;
					button {
						background-color: $yellow;
						color: #000;
						border:none;
						padding:10px;
						text-transform: uppercase;
					}
				}
			}
			.thumbnail {
				width: 100%;
				img {
					max-width: 100%;
					height: auto;
				}
			}
			.tab-content {
				padding-left: 15px;
				margin-left: inherit;
			}

		}
		.text-white {
			& > * {
				color:#fff !important;
			}
		}
	}
	#cta {
		width: 100%;
		h3 {
			text-align: center;
		}
		h3.title:after {
			margin:auto;
			margin-top:20px;
		}
		.buttons {
			display: flex;
			justify-content: center;
			margin-top:15px;
			button {
				color: #fff;
				padding: 10px 20px;
				margin: 0px 20px;
				background-color: transparent;
				text-transform: uppercase;
				border: solid 1px #fff;
				width: 100%;
			}
			a {
				background-color: transparent;
				width: 50%;
				display: flex;
				justify-content: center;
				font-weight: 700;
			}
			a:first-child button {
				background-color: $yellow;
				border-color: $yellow;
				transition-duration: .5s;
				&:hover {
					background-color:#fff;
					color:$yellow;
				}
			}
			a:last-child button {
				border-color: #28a745;
				color: #fff;
				background: #28a745;
				transition-duration: .5s;
				&:hover {
					background-color:$yellow;
					color:#fff;
					border-color: $yellow;
				}
			}
		}
	}

	.dropdown-menu {
		background: transparent;
		display: block !important;
	}
	.dropdown-toggle::after {
		display: none !important;
	}
	a.dropdown-item:hover {
		background-color: $yellow !important;
	}
	#myVideo {
		position: absolute;
		z-index: 1;
		width: auto;
		height: 120%;
	}
	.menu-nawigacja-home-container {
		position: fixed;
		z-index: 10;
		left: 0px;
		top: 50%;
	}
	main#oferta {
		max-width: 100vw;
		overflow-x: hidden;   
		margin-top: 50px;
		label, input, textarea {
			width: 100%;
			border: solid 1px #efefef; 
			box-shadow: none;
		}
		input, textarea {
			padding:5px;
		}
		.wpcf7 {
			p {
				margin: 0px;
			}
		}
		input#value {
			text-align: center;
			background: #f9f9f9;
			color: #999;
			font-weight: 700;
		}
		input.wpcf7-form-control.wpcf7-submit {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 22px;
			padding: 15px;
			border:none;
			background-color: $yellow;
		}
		
		article {
			background-color: #fdfdfd;
			position: relative;
		}
		.fly-letter span {
			font-size: 15em;
			text-transform: uppercase;
			font-weight: 700;
			color: rgba(0,0,0,.05);
			position: absolute;
			top: 5vh;
			left: 5vw;
			-webkit-animation: servicefly 6s infinite;
			animation: servicefly 6s infinite;
			-webkit-animation-direction: alternate;
			animation-direction: alternate;
		}
		.wypunktowania {
			margin-bottom: 90px;
			.item {
				position: relative;
			}
			
			.inner-content {
				position: absolute;
				top: 0;
				left: 0px;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: start;
				align-items: center;
				flex-direction: column;
				padding: 60px;
				padding-top: 90px;
			}
			.thumbnail {
				
				background-color: #000;
				img {
					opacity: .7;
				}
			}
			ul {
				text-align: left;
				list-style-type: none;
				padding: 0px;
				width: 100%;
				li {
					font-size: 20px;
					&:before {
						content: "- ";
					}
				}
			}
		}
		#dla_kogo {
			position: relative;
			.tresc {
				padding-top: 40px;
				max-width: 615px;
				margin-left: auto;
				padding-right: 80px;
				h3.subtitle {
					color: $yellow;
					font-size: 30px;
					color: #fecd01;
					margin-bottom: 10px;
					margin-top: 10px;
				}
				p {
					font-family: $ffont;
					font-size: 18px; 
					text-align: justify;
					line-height: 32px;
					strong {

					}
				}
			}
			.row {
				img {
					width: 100%;
					height: 500px;
					-o-object-fit: cover;
					object-fit: cover;
					-o-object-position: center;
					object-position: center;
				}
			}
		}
		.icons {
			width: 100vw;
			overflow: hidden;
			.row {
				height: 100%;
			}
			.item {
				height: 100%;
				background: #fdfdfd;
				width: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				p {
					padding: 0px 5%; 
				}
				svg {
					font-size: 2em;
					margin-top: 30px;
					color: $yellow;
					path {
						color: $yellow;
					}
				}
				h3 {
					margin-top: 15px;
					text-transform: uppercase;
					margin-bottom: 10px;
				}
			}
			img {
				width: 100%;
				height: 260px;
				-o-object-fit: cover;
				object-fit: cover;
			}
			h2 {
				text-align: center;
				margin-bottom: 30px;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		.title-content {
			min-height: 250px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: relative;
			z-index: 10;
			margin-bottom: 120px;
			h1 {
				text-align: center;
				font-size: 50px;
				text-transform: uppercase;
				margin: 0px;
				font-weight: 700;
				&:after {
					content:" ";
					display: block;
					width: 40%;
					height: 2px;
					background-color: $yellow;
					margin: 10px auto;
				}
			}
			#breadcrumbs {
				text-align: center;
				text-transform: uppercase;
				a, span {
					color: #999;	
				}
			}
		}
	}
	.looks {
		margin-bottom: 90px;
		padding-bottom: 30px;
		.item-portfolio {
			position: relative;
			width: 100%;
			height: auto;
			overflow:hidden;
			margin-bottom: 40px;
			&:hover {
				a {
					right: 20px;
				}
			}
			img {
				max-width: 100%;
				height: 300px;
				-o-object-fit: cover;
				object-fit: cover;
			}
			h5 {
				position: absolute;
				top: 15px;
				left: 15px;
				color: #fff;
				text-transform: uppercase;
				text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
				font-size: 15px;
				background: rgba(0,0,0,.2);
				padding: 15px;
			}
			a {
				position: absolute;
				right: -100%;
				transition-duration: .5s;
				bottom: 20px;
				button { 
					background: #fecd01;
					color: #fff;
					border: none;
					text-transform: uppercase; 
					padding: 5px 10px; 
					
				}
			}
		}
	}
	#realizacje { 
		h1.title {
			margin-top: 150px;
			font-size: 3em;
			text-transform: uppercase;
		}
	}
	section#portfolio figure img {
		height: 170px !important;
		-o-object-fit: cover;
		object-fit: cover; 
	}
	body.home {
		.navbar-brand {
			display: none;
		}
	}
	body.page-template-kontakt h3.title {
		&:after {
			margin-right: auto;
			margin-left: 0px;
		}
	}
	body.home {
		#portfolio {
			ul.filtermenu {
				li.prace-graficzne, li.logotyp {
					display: none;
				}
			}
		}
	}
	section#portfolio .inner-content .tab-content p {
		text-shadow: 0px 0px 3px #000;
	}
	a.wroc {
		color: #000;
		background: $yellow;
		text-transform: uppercase;
		font-weight: 600;
		padding: 10px;
		margin-bottom: 20px;
	}

	@media (max-width: 576px) {
		@import "mobile";	
	} 

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
	/*@import "tablet";*/
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
	/*@import "rotatetablet";*/
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
	/*@import "desktop";*/
} 
#face-slider {
	position: fixed;
	right: -290px;
	top: 130px;
	z-index: 1000;
}
#face-slider #tab {
	cursor: pointer;
	height: 110px;
	width: 45px;
	float: left;
}
div#tab img {
	width: 100%;
}
#face-code {
	padding: 5px;
	border: solid #0170cf 3px;
	background: #fff;
	float: left;
	width: 286px;
	height: 100px;
	-moz-border-radius: 0 0 0 8px;
	-webkit-border-radius: 0 0 0 8px;
	border-radius: 0 0 0 8px;
}
.fb-page.fb_iframe_widget {
	transform: scale(1);
}