/* ==========================================================================
Normalize.scss settings
========================================================================== */
/**
* Includes legacy browser support IE6/7
*
* Set to false if you want to drop support for IE6 and IE7
*/
/* Base
========================================================================== */
/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS and IE text size adjust after device orientation change,
*    without disabling user zoom.
* 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*  `em` units.
*/
@import url("https://fonts.googleapis.com/css?family=Play:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin-ext");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
* Remove default margin.
*/
body {
  margin: 0; }

/* HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
* 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
* Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0; }

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
[hidden],
template {
  display: none; }

/* Links
========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
a {
  background-color: transparent; }

/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted; }

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold; }

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic; }

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
* Addresses styling not present in IE 8/9.
*/
mark {
  background: #ff0;
  color: #000; }

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
========================================================================== */
/**
* 1. Remove border when inside `a` element in IE 8/9/10.
* 2. Improves image quality when scaled in IE 7.
*/
img {
  border: 0; }

/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure {
  margin: 1em 40px; }

/**
* Address differences between Firefox and other browsers.
*/
hr {
  box-sizing: content-box;
  height: 0; }

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto; }

/**
* Address odd `em`-unit font size rendering in all browsers.
* Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*  Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
* 4. Improves appearance and consistency in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button {
  overflow: visible; }

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none; }

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*  and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*  `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*  Known issue: inner spacing remains in IE 6.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default; }

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal; }

/**
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*  Known issue: excess padding remains in IE 6.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
* 3. Corrects text not wrapping in Firefox 3.
* 4. Corrects alignment displayed oddly in IE 6/7.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea {
  overflow: auto; }

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold; }

/* Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.pagination {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  z-index: 10;
  display: flex;
  flex-direction: column; }

.pagination a {
  display: block;
  margin-bottom: 5px;
  color: white;
  position: relative;
  padding: 4px; }
  .pagination a span {
    opacity: 1;
    color: rgba(0, 0, 0, 0.1);
    transition-duration: .5s; }
  .pagination a.active span {
    opacity: 1;
    color: #000;
    transition-duration: .5s; }

.pagination a.active:after {
  box-shadow: inset 0 0 0 5px; }

.pagination a .hover-text {
  position: absolute;
  right: 15px;
  top: 7px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px; }

.pagination a:hover .hover-text {
  opacity: 1;
  margin-left: 15px; }

.pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0; }

ul#list-spy li a {
  text-transform: uppercase;
  color: #2e332f;
  font-weight: 600; }

ul#list-spy a.active {
  margin-bottom: 60px;
  margin-top: 60px; }
  ul#list-spy a.active:after {
    content: " "; }

.pagination li a span {
  padding-left: 15px; }
  .pagination li a span:after {
    content: " ";
    height: 40px;
    background: #fff;
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 2.5px;
    margin-top: 10px; }
  .pagination li a span:before {
    content: " ";
    height: 40px;
    background: #fff;
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 2.5px;
    margin-top: -50px; }

.pagination li:first-child a span {
  padding-left: 15px; }
  .pagination li:first-child a span:after {
    content: " ";
    height: 40px;
    background: #fff;
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 2.5px;
    margin-top: 10px; }
  .pagination li:first-child a span:before {
    content: " ";
    height: 0px;
    background: #fff;
    display: block;
    position: absolute;
    width: 0px;
    margin-left: 2.5px;
    margin-top: 0px; }

.pagination li:last-child a span {
  padding-left: 15px; }
  .pagination li:last-child a span:after {
    content: " ";
    height: 0px;
    background: transparent;
    display: block;
    position: absolute;
    width: 0px;
    margin-left: 2.5px;
    margin-top: 10px; }
  .pagination li:last-child a span:before {
    content: " ";
    height: 40px;
    background: #fff;
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 2.5px;
    margin-top: -50px; }

@keyframes fadeleftslider {
  from {
    transform: translateX(-1000px); }
  to {
    transform: translateX(0px); } }
@keyframes showslider {
  from {
    opacity: 0; }
  to {
    opacity: 1 !important; } }
@keyframes opacity {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes flytext {
  from {
    transform: translateX(-1550px); }
  to {
    transform: translateX(-1050px); } }
@keyframes servicefly {
  from {
    left: 5vw; }
  to {
    left: 35vw; } }
@keyframes flytextblogbot {
  from {
    transform: translateX(-2200px); }
  to {
    transform: translateX(-1750px); } }
@keyframes flytextblogtop {
  from {
    transform: translateX(350px); }
  to {
    transform: translateX(800px); } }
@keyframes running {
  0% {
    transform: translateY(0px); }
  25% {
    transform: translateY(-25px); }
  50% {
    transform: translateY(-50px); }
  75% {
    transform: translateY(-25px); }
  100% {
    transform: translateY(0px); } }
.blur {
  filter: blur(10px);
  transform: scale(1.03, 1.03); }

* {
  outline: none;
  font-display: fallback; }

a[href=''] {
  display: none; }

h3.subtitle {
  color: #fecd01;
  font-size: 30px;
  color: #fecd01;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%; }

main, nav {
  transition-duration: .5s;
  transition-timing-function: ease-in-out; }

nav#mainmenu ul li a {
  color: #fff; }

main {
  background-size: 100%;
  background-attachment: fixed; }

canvas#linie {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: .5; }

p, * {
  font-family: "Open Sans Condensed", sans-serif; }

h1, h2, h3, h4, h5, h6, button, input[type="submit"] {
  font-family: "Play", sans-serif; }

.flex-right {
  display: flex;
  justify-content: flex-end; }

.svg-clipped {
  -webkit-clip-path: url(#svgTextPath);
  clip-path: url(#svgTextPath); }

section {
  min-height: 100vh;
  position: relative; }

aside {
  z-index: 10;
  left: 0px;
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center; }

aside.dark ul#list-spy li a {
  color: #333 !important; }
aside.dark span:before, aside.dark span:after {
  background-color: #333 !important; }

nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  width: 0%;
  height: 100%;
  z-index: 100;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px #000;
  overflow: hidden; }
  nav ul#list-spy a.active {
    margin: 0px; }

nav.active {
  width: 20%; }

h3.title {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 900;
  color: #2e332f;
  width: 100%; }

h3.title:after {
  content: " ";
  height: 3px;
  width: 40%;
  background: #fecd01;
  display: block;
  margin: auto;
  margin-top: 20px; }

header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
  padding: 30px 0px; }
  header #menu-button {
    width: 60px;
    height: 45px;
    position: fixed;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(0.5);
    right: 15px; }
  header .navbar-brand {
    height: 100%;
    display: flex;
    align-items: center; }
  header #menu-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background: #2e332f;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
  header #menu-button span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0; }
  header #menu-button span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px; }
  header #menu-button span:nth-child(1), header #menu-button span:nth-child(2) {
    top: 0px; }
  header #menu-button span:nth-child(3), header #menu-button span:nth-child(4) {
    top: 18px; }
  header #menu-button span:nth-child(5), header #menu-button span:nth-child(6) {
    top: 36px; }
  header #menu-button.open span:nth-child(1), header #menu-button.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  header #menu-button.open span:nth-child(2), header #menu-button.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  header #menu-button.open span:nth-child(1) {
    left: 5px;
    top: 7px; }
  header #menu-button.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px; }
  header #menu-button.open span:nth-child(3) {
    left: -50%;
    opacity: 0; }
  header #menu-button.open span:nth-child(4) {
    left: 100%;
    opacity: 0; }
  header #menu-button.open span:nth-child(5) {
    left: 5px;
    top: 29px; }
  header #menu-button.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px; }
  header .navbar {
    box-shadow: none; }
  header #list-spy li > a.active {
    color: red; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed; }
  section .background {
    position: absolute;
    width: 100%;
    height: 100%; }
  section .content-tag {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

section#home {
  background-size: cover; }
  section#home .logo-hero img {
    max-width: 35vw;
    height: auto; }
  section#home .inner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    section#home .inner-content h1 {
      font-size: 22px;
      color: #2e332f;
      font-weight: 400;
      width: 50%;
      text-align: center;
      margin-top: 30px; }
      section#home .inner-content h1 b {
        text-transform: uppercase;
        font-size: 30px;
        display: block; }
  section#home .content-tag a.readmore {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px; }
    section#home .content-tag a.readmore svg {
      color: #fecd01;
      display: inline-block;
      margin-left: -5px;
      transition-duration: .5s;
      transition-timing-function: ease-in-out; }
    section#home .content-tag a.readmore:hover svg {
      margin-left: 10px; }
  section#home .content-tag .scroller {
    position: absolute;
    bottom: 0;
    left: 30%;
    display: flex; }
    section#home .content-tag .scroller span {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      color: rgba(255, 255, 255, 0.3);
      font-size: 10px;
      font-weight: 500;
      margin-top: 50px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition-duration: .5s;
      transition-timing-function: ease-in-out; }
    section#home .content-tag .scroller .mouse-img:after {
      content: " ";
      background: rgba(255, 255, 255, 0.3);
      display: block;
      width: 3px;
      height: 100px;
      margin: auto;
      margin-top: 20px;
      transition-duration: .5s;
      transition-timing-function: ease-in-out; }
    section#home .content-tag .scroller:hover span {
      color: #fff; }
    section#home .content-tag .scroller:hover .mouse-img:after {
      background-color: #fff; }

.social-bar {
  position: absolute;
  right: 0px; }
  .social-bar ul {
    list-style-type: none;
    margin-right: 30px; }
    .social-bar ul li {
      margin: 15px 0px;
      font-size: 1.2em;
      text-align: center; }
      .social-bar ul li a {
        color: #b3b3b3; }
        .social-bar ul li a:hover {
          color: #fff; }

section#about .icon {
  color: rgba(255, 255, 255, 0.2);
  font-weight: 900;
  font-size: 45em;
  position: absolute;
  left: -5%; }
section#about .informacje {
  text-align: left;
  width: 70%; }
  section#about .informacje .trescomnie {
    min-height: 80px;
    display: block; }
section#about .content-tag {
  justify-content: start;
  height: 100%; }
section#about .col-xl-5, section#about .row {
  height: 100%; }
section#about div#carouselExampleControls {
  height: 100%;
  display: flex;
  align-items: flex-end; }
  section#about div#carouselExampleControls .carousel-item img {
    max-width: 80%;
    position: relative;
    z-index: 1000;
    margin: auto;
    display: block;
    height: auto; }
  section#about div#carouselExampleControls .carousel-navi {
    position: absolute;
    width: 100%;
    height: 100%; }
    section#about div#carouselExampleControls .carousel-navi a {
      height: 100px;
      margin-top: auto;
      margin-bottom: 40px; }
    section#about div#carouselExampleControls .carousel-navi img {
      max-height: 100px; }
section#about .item {
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  section#about .item h2 {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: 52px;
    color: #fecd01;
    letter-spacing: 8px;
    width: 100%; }
    section#about .item h2 span {
      color: #fecd01; }
  section#about .item p {
    font-size: 19px;
    width: 75%;
    font-weight: 500;
    animation-delay: .5s;
    text-align: justify; }
    section#about .item p:before {
      content: " ";
      display: block;
      width: 50%;
      height: 2px;
      background-color: #fff;
      margin-bottom: 20px; }

body.home h3.title:after {
  margin-right: auto;
  margin-left: 0px; }

section#service {
  background-size: cover; }
  section#service .tab-pane {
    border-bottom: solid 2px #2e332f;
    margin-right: -30px; }
  section#service h3.title {
    margin-top: 10%; }
    section#service h3.title:after {
      margin-right: auto;
      margin-left: 0px; }
  section#service .inner-content {
    width: 100%; }
    section#service .inner-content p {
      width: 75%;
      text-align: justify; }
    section#service .inner-content .tab-content {
      min-height: 300px; }
      section#service .inner-content .tab-content .opis {
        min-height: 100px; }
      section#service .inner-content .tab-content h3 {
        color: #fecd01;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 21px; }
      section#service .inner-content .tab-content p {
        color: #2e332f;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px; }
      section#service .inner-content .tab-content a {
        color: #fecd01;
        font-weight: 600;
        padding-bottom: 10px;
        display: block; }
        section#service .inner-content .tab-content a:hover {
          font-weight: 700; }
    section#service .inner-content .row {
      margin-top: 30px; }
      section#service .inner-content .row ul.nav {
        display: flex;
        flex-direction: column; }
        section#service .inner-content .row ul.nav li {
          margin-bottom: 7px; }
          section#service .inner-content .row ul.nav li a {
            text-transform: uppercase;
            color: #2e332f;
            font-size: 17px;
            letter-spacing: 3px;
            font-weight: 700;
            font-family: "Play", sans-serif; }
            section#service .inner-content .row ul.nav li a.active {
              color: #fecd01; }
  section#service .fly-letter {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
    section#service .fly-letter span {
      font-size: 350px;
      text-transform: uppercase;
      font-weight: 900;
      position: absolute;
      z-index: -1;
      color: rgba(230, 230, 230, 0.2);
      animation-delay: .25s;
      animation: flytextblogtop 6s infinite;
      transform: translateX(450px);
      animation-direction: alternate;
      right: 0px; }

body.page-template-realizacje section#portfolio {
  align-items: flex-start;
  padding-top: 10%;
  text-align: center; }

section#portfolio {
  background-size: cover; }
  section#portfolio .content-tag {
    justify-content: start;
    padding-top: 50px; }
  section#portfolio .button-position {
    width: 100%;
    display: flex;
    justify-content: center; }
    section#portfolio .button-position a {
      text-transform: uppercase;
      font-size: 21px;
      border: solid 1px #000;
      padding: 5px 15px;
      color: #000;
      font-weight: 700;
      transition-duration: .5s; }
      section#portfolio .button-position a:hover {
        background-color: #fecd01;
        border-color: #fecd01; }
  section#portfolio .box {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden; }
    section#portfolio .box img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    section#portfolio .box .box-info {
      width: 102%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: -100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      transition-duration: .5s; }
      section#portfolio .box .box-info p {
        margin: 0px;
        font-weight: 600;
        color: #fff !important;
        padding-left: 10px;
        padding-bottom: 10px;
        text-transform: uppercase; }
  section#portfolio .box:hover .box-info {
    left: 0px; }
  section#portfolio .inner-content {
    width: 70%; }
    section#portfolio .inner-content .tab-content {
      min-height: 410px;
      padding-left: 0px;
      margin-left: -5px; }
      section#portfolio .inner-content .tab-content h3 {
        color: #2e332f;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 21px; }
      section#portfolio .inner-content .tab-content p {
        color: #999999;
        font-size: 14px;
        font-weight: 700; }
    section#portfolio .inner-content .row ul.nav {
      display: flex;
      flex-direction: row;
      margin-top: 35px;
      justify-content: space-between; }
      section#portfolio .inner-content .row ul.nav li {
        margin-bottom: 15px;
        text-transform: uppercase;
        color: #2e332f;
        font-size: 16px;
        letter-spacing: 3px;
        font-weight: 700;
        cursor: pointer;
        border: solid 1px #2e332f;
        padding: 5px; }
        section#portfolio .inner-content .row ul.nav li.active {
          background: #fecd01;
          color: #2e332f;
          border-color: #fecd01; }
  section#portfolio .fly-letter {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
    section#portfolio .fly-letter span {
      font-size: 350px;
      text-transform: uppercase;
      font-weight: 900;
      position: absolute;
      z-index: -1;
      color: rgba(230, 230, 230, 0.2);
      animation-delay: .25s;
      animation: flytextblogtop 6s infinite;
      transform: translateX(450px);
      animation-direction: alternate;
      right: 0px; }
  section#portfolio figure img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 170px;
    object-fit: cover; }
    section#portfolio figure img:hover {
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%); }

section#blog {
  background-color: #fff; }
  section#blog h3.title {
    color: #333; }
  section#blog .inner-content {
    width: 70%; }
    section#blog .inner-content .tab-content {
      min-height: 410px;
      padding-left: 0px;
      margin-left: -5px; }
      section#blog .inner-content .tab-content h3 {
        color: #b3b3b3;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 21px; }
      section#blog .inner-content .tab-content p {
        color: #999999;
        font-style: 14px; }
    section#blog .inner-content .row ul.nav {
      display: flex;
      flex-direction: column;
      margin-top: 35px; }
      section#blog .inner-content .row ul.nav li {
        margin-bottom: 30px; }
        section#blog .inner-content .row ul.nav li a {
          text-transform: uppercase;
          color: #737373;
          font-size: 16px;
          letter-spacing: 3px;
          font-weight: 700; }
          section#blog .inner-content .row ul.nav li a.active {
            color: #fff; }
  section#blog .fly-letter {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
    section#blog .fly-letter span {
      font-size: 350px;
      text-transform: uppercase;
      font-weight: 900;
      position: absolute;
      z-index: -1;
      color: rgba(230, 230, 230, 0.2);
      animation-delay: .25s;
      animation: flytextblogtop 6s infinite;
      transform: translateX(450px);
      animation-direction: alternate;
      right: 0px; }
  section#blog figure img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
    section#blog figure img:hover {
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%); }

section#contact {
  background-size: cover; }
  section#contact .content-before-form {
    display: flex;
    align-items: flex-end;
    color: #b3b3b3;
    font-weight: 500;
    text-transform: uppercase; }
  section#contact .form-home {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    section#contact .form-home label, section#contact .form-home input, section#contact .form-home textarea {
      width: 100%;
      font-weight: 500; }
      section#contact .form-home label::placeholder, section#contact .form-home input::placeholder, section#contact .form-home textarea::placeholder {
        color: #b3b3b3; }
    section#contact .form-home label.submit-label {
      max-width: 30%; }
      section#contact .form-home label.submit-label > * {
        background-color: #fecd01;
        border-color: #fecd01;
        text-transform: uppercase;
        font-weight: 600;
        transition-duration: .5s;
        color: #2e332f; }
        section#contact .form-home label.submit-label > *:hover {
          background-color: #cba401;
          border-color: #cba401; }
    section#contact .form-home input, section#contact .form-home textarea {
      background-color: rgba(255, 255, 255, 0.5);
      border: solid 1px #2e332f;
      padding: 10px;
      color: #2e332f;
      max-height: 200px; }
  section#contact .inner-content {
    width: 100%; }
  section#contact .inner-content, section#contact .row, section#contact .col-xl-6 {
    height: 100%; }
  section#contact .contact-content {
    height: 100%;
    width: 70%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section#contact .contact-content ul {
      list-style-type: none;
      margin-top: 50px; }
      section#contact .contact-content ul li {
        margin-bottom: 35px;
        color: #999999;
        display: flex; }
        section#contact .contact-content ul li .icon {
          font-size: 2em;
          margin-right: 25px;
          color: #2e332f; }
        section#contact .contact-content ul li .content strong {
          display: block;
          text-transform: uppercase;
          color: #2e332f;
          margin-top: 15px; }
    section#contact .contact-content a {
      display: flex;
      color: #2e332f;
      font-weight: 500; }
    section#contact .contact-content p {
      font-weight: 500;
      color: #2e332f; }
  section#contact .credits {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: #999999;
    font-style: italic;
    font-weight: 200; }
    section#contact .credits a {
      color: #999999;
      font-weight: 400; }

#portfolio #portfoliocontent {
  margin: 1rem 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%; }
#portfolio .post {
  position: relative;
  margin-bottom: 30px; }
#portfolio .tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
#portfolio .scale-anm {
  transform: scale(1); }
#portfolio .tile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem; }
#portfolio .btn {
  font-family: Lato;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid;
  vertical-align: middle;
  -webkit-appearance: none;
  color: #555;
  background-color: rgba(0, 0, 0, 0); }
#portfolio .btn:hover {
  text-decoration: none; }
#portfolio .btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3); }
#portfolio ::-moz-focus-inner {
  border: 0;
  padding: 0; }

nav#mainmenu ul {
  margin-left: 15px; }

.arrow-navi > * {
  position: fixed;
  height: 100vh;
  width: 10vw;
  display: block;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .5s; }
  .arrow-navi > *:hover img, .arrow-navi > *:hover h5 {
    opacity: 1; }
.arrow-navi img {
  height: 180px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
  margin: auto;
  opacity: .3;
  transition-duration: .5s; }
  .arrow-navi img:hover {
    opacity: 1; }
.arrow-navi h5 {
  opacity: .3;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: .5s; }
.arrow-navi .after {
  right: 0px; }
.arrow-navi .before {
  left: 0px; }

main#oferta section#service content, main#kontakt section#contact {
  padding-top: 150px; }

body.single section#portfolio {
  flex-direction: column; }
  body.single section#portfolio .short-text {
    color: #2e332f;
    line-height: 31px;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    text-align: justify; }
    body.single section#portfolio .short-text a {
      display: flex;
      justify-content: flex-start;
      margin-top: 15px; }
      body.single section#portfolio .short-text a button {
        background-color: #fecd01;
        color: #000;
        border: none;
        padding: 10px;
        text-transform: uppercase; }
  body.single section#portfolio .thumbnail {
    width: 100%; }
    body.single section#portfolio .thumbnail img {
      max-width: 100%;
      height: auto; }
  body.single section#portfolio .tab-content {
    padding-left: 15px;
    margin-left: inherit; }
body.single .text-white > * {
  color: #fff !important; }

#cta {
  width: 100%; }
  #cta h3 {
    text-align: center; }
  #cta h3.title:after {
    margin: auto;
    margin-top: 20px; }
  #cta .buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px; }
    #cta .buttons button {
      color: #fff;
      padding: 10px 20px;
      margin: 0px 20px;
      background-color: transparent;
      text-transform: uppercase;
      border: solid 1px #fff;
      width: 100%; }
    #cta .buttons a {
      background-color: transparent;
      width: 50%;
      display: flex;
      justify-content: center;
      font-weight: 700; }
    #cta .buttons a:first-child button {
      background-color: #fecd01;
      border-color: #fecd01;
      transition-duration: .5s; }
      #cta .buttons a:first-child button:hover {
        background-color: #fff;
        color: #fecd01; }
    #cta .buttons a:last-child button {
      border-color: #fecd01;
      color: #fecd01;
      transition-duration: .5s; }
      #cta .buttons a:last-child button:hover {
        background-color: #fecd01;
        color: #fff; }

.dropdown-menu {
  background: transparent;
  display: block !important; }

.dropdown-toggle::after {
  display: none !important; }

a.dropdown-item:hover {
  background-color: #fecd01 !important; }

#myVideo {
  position: absolute;
  z-index: 1;
  width: auto;
  height: 120%; }

.menu-nawigacja-home-container {
  position: fixed;
  z-index: 10;
  left: 0px;
  top: 50%; }

main#oferta {
  max-width: 100vw;
  overflow-x: hidden; }
  main#oferta label, main#oferta input, main#oferta textarea {
    width: 100%;
    border: solid 1px #efefef;
    box-shadow: none; }
  main#oferta input, main#oferta textarea {
    padding: 5px; }
  main#oferta .wpcf7 p {
    margin: 0px; }
  main#oferta input#value {
    text-align: center;
    background: #f9f9f9;
    color: #999;
    font-weight: 700; }
  main#oferta input.wpcf7-form-control.wpcf7-submit {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    border: none;
    background-color: #fecd01; }
  main#oferta article {
    background-color: #fdfdfd;
    position: relative; }
  main#oferta .fly-letter span {
    font-size: 15em;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 5vh;
    left: 5vw;
    animation: servicefly 6s infinite;
    animation-direction: alternate; }
  main#oferta .wypunktowania {
    margin-bottom: 90px; }
    main#oferta .wypunktowania .item {
      position: relative; }
    main#oferta .wypunktowania .inner-content {
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      padding: 60px;
      padding-top: 90px; }
    main#oferta .wypunktowania .thumbnail {
      background-color: #000; }
      main#oferta .wypunktowania .thumbnail img {
        opacity: .7; }
    main#oferta .wypunktowania ul {
      text-align: left;
      list-style-type: none;
      padding: 0px;
      width: 100%; }
      main#oferta .wypunktowania ul li {
        font-size: 20px; }
        main#oferta .wypunktowania ul li:before {
          content: "- "; }
  main#oferta #dla_kogo {
    position: relative; }
    main#oferta #dla_kogo .tresc {
      padding-top: 40px;
      max-width: 615px;
      margin-left: auto;
      padding-right: 80px; }
      main#oferta #dla_kogo .tresc h3.subtitle {
        color: #fecd01;
        font-size: 30px;
        color: #fecd01;
        margin-bottom: 10px;
        margin-top: 10px; }
      main#oferta #dla_kogo .tresc p {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 18px;
        text-align: justify;
        line-height: 32px; }
    main#oferta #dla_kogo .row img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      object-position: center; }
  main#oferta .icons {
    width: 100vw;
    overflow: hidden; }
    main#oferta .icons .row {
      height: 100%; }
    main#oferta .icons .item {
      height: 100%;
      background: #fdfdfd;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main#oferta .icons .item svg {
        font-size: 2em;
        margin-top: 30px;
        color: #fecd01; }
        main#oferta .icons .item svg path {
          color: #fecd01; }
      main#oferta .icons .item h3 {
        margin-top: 15px;
        text-transform: uppercase;
        margin-bottom: 10px; }
    main#oferta .icons img {
      width: 100%;
      height: 260px;
      object-fit: cover; }
    main#oferta .icons h2 {
      text-align: center;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 700; }
  main#oferta .title-content {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
    margin-bottom: 120px; }
    main#oferta .title-content h1 {
      text-align: center;
      font-size: 50px;
      text-transform: uppercase;
      margin: 0px;
      font-weight: 700; }
      main#oferta .title-content h1:after {
        content: " ";
        display: block;
        width: 40%;
        height: 2px;
        background-color: #fecd01;
        margin: 10px auto; }
    main#oferta .title-content #breadcrumbs {
      text-align: center;
      text-transform: uppercase; }
      main#oferta .title-content #breadcrumbs a, main#oferta .title-content #breadcrumbs span {
        color: #999; }

.looks {
  margin-bottom: 90px;
  padding-bottom: 30px; }
  .looks .item-portfolio {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 40px; }
    .looks .item-portfolio:hover button {
      right: 20px; }
    .looks .item-portfolio img {
      max-width: 100%;
      height: 300px;
      object-fit: cover; }
    .looks .item-portfolio h5 {
      position: absolute;
      top: 15px;
      left: 15px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0px 0px 4px black;
      font-size: 15px;
      background: rgba(0, 0, 0, 0.2);
      padding: 15px; }
    .looks .item-portfolio button {
      position: absolute;
      bottom: 20px;
      background: #fecd01;
      color: #fff;
      border: none;
      text-transform: uppercase;
      padding: 5px 10px;
      right: -100%;
      transition-duration: .5s; }

#realizacje h1.title {
  margin-top: 150px;
  font-size: 4em;
  text-transform: uppercase; }

section#portfolio figure img {
  height: 170px !important;
  object-fit: cover; }

body.home .navbar-brand {
  display: none; }

body.page-template-kontakt h3.title:after {
  margin-right: auto;
  margin-left: 0px; }

body.home #portfolio ul.filtermenu li.prace-graficzne, body.home #portfolio ul.filtermenu li.logotyp {
  display: none; }

section#portfolio .inner-content .tab-content p {
  text-shadow: 0px 0px 3px #000; }

a.wroc {
  color: #000;
  background: #fecd01;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px; }

@media (max-width: 576px) {
  section {
    min-height: 100vh; }

  header {
    z-index: 700; }

  main {
    background-size: cover; }

  @keyframes fadeleftslider {
    from {
      transform: translateX(-1000px); }
    to {
      transform: translateX(-650px); } }
  nav.active {
    width: 100%; }
    nav.active ul {
      text-align: center; }

  main#homepage .social-bar {
    bottom: 0px; }

  .pagination {
    bottom: 0%;
    top: 25%;
    transform: translateY(0%); }

  section#about .icon {
    color: rgba(255, 255, 255, 0.1);
    font-size: 630px; }

  ul.pagination li:last-child a {
    margin-bottom: 20px; }

  section#about .item {
    width: 90%;
    margin: auto; }
    section#about .item p {
      width: 100%; }
    section#about .item h3 {
      text-align: center; }

  section#about div#carouselExampleControls .carousel-item img {
    max-width: 60%; }

  aside {
    display: none; }

  section#about .inner-content:before {
    display: none; }

  main#homepage section#home .scroller {
    display: none !important; }
  main#homepage section#home .background {
    display: none; }
  main#homepage section#home .content-tag .inner-content {
    left: 0%;
    text-align: center; }
    main#homepage section#home .content-tag .inner-content h1 {
      font-size: 56px; }
    main#homepage section#home .content-tag .inner-content h2 {
      font-size: 15px;
      margin-top: 5px; }
      main#homepage section#home .content-tag .inner-content h2:after {
        content: " ";
        width: 80%;
        height: 3px;
        display: block;
        background-color: #ff4200;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 15px; }
  main#homepage section#home .content-tag .scroller {
    left: calc(50% - 20px); }
  main#homepage section#about .inner-content {
    width: 90%;
    height: 50%;
    align-items: start; }
    main#homepage section#about .inner-content .item:nth-child(1) h3 {
      font-size: 42px;
      letter-spacing: normal;
      text-align: center; }
    main#homepage section#about .inner-content .item:nth-child(1) p {
      width: 100%;
      margin-left: 0px;
      padding: 10px;
      text-align: center;
      margin-top: 10px; }
      main#homepage section#about .inner-content .item:nth-child(1) p:before {
        margin: 0px;
        height: 0px; }
    main#homepage section#about .inner-content .item.image {
      width: 100%; }
      main#homepage section#about .inner-content .item.image img:nth-child(1) {
        top: 10%;
        left: 0%; }
      main#homepage section#about .inner-content .item.image img:nth-child(2) {
        top: 50%;
        left: 0%; }
  main#homepage section#contact .contact-content {
    width: 85%; }

  #service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px; }

  section#service .inner-content .row {
    margin-top: 50px; }

  section#service .inner-content .tab-content {
    margin-bottom: 70px; }

  section#service .inner-content .row ul.nav {
    margin-left: 15px; }

  section#service h3.title.offset-xl-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; }

  h3.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px; }

  .contact-content.wow.fadeInLeft {
    width: 100% !important; }

  .row.form-contact.wow.fadeInRight {
    margin-left: 40px; }

  section#contact .form-home label.submit-label {
    max-width: 100%; }

  .credits {
    display: none; }

  a.dropdown-item {
    text-align: center; }

  h3.title {
    font-size: 31px; }

  #cta .buttons {
    flex-direction: column; }
    #cta .buttons a {
      width: 100%;
      margin-bottom: 20px;
      display: flex; }
    #cta .buttons button {
      width: 100%; }

  .arrow-navi {
    display: none; }

  h3.title.mt-5.text-white {
    margin-top: 0px !important; }

  section#portfolio .inner-content .tab-content p {
    margin-left: 0px;
    display: flex;
    justify-content: center; }

  section#home .logo-hero img {
    max-width: 90vw;
    height: auto; }

  main#homepage section#home content .inner-content h2 {
    font-size: 22px;
    width: 70%; }
    main#homepage section#home content .inner-content h2:after {
      display: none; }
    main#homepage section#home content .inner-content h2 b {
      margin-bottom: 10px; }

  section#contact .form-home {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }

  main#homepage section#home .content-tag .inner-content h1 {
    font-size: 19px;
    width: 80%; }

  main#oferta #dla_kogo .tresc {
    max-width: inherit;
    padding-right: 0px; }

  main#oferta .wypunktowania .inner-content {
    position: relative;
    padding: 10px;
    padding-top: 20px; }

  .looks .item-portfolio img {
    max-width: 100%;
    height: auto;
    object-fit: cover; }

  section#about .informacje {
    text-align: center;
    width: 70%;
    margin: auto; }

  section#portfolio .inner-content .row ul.nav {
    justify-content: space-evenly; }

  body.home section h3.title:after {
    margin-right: auto;
    margin-left: auto; }

  section#service h3.title:after {
    margin-right: auto;
    margin-left: auto; } }

/*# sourceMappingURL=style.css.map */
